@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-xs: 1rem;
  --font-size-sm: 1.13rem;
  --font-size-base: 1.44rem;
  --font-size-lg: 1.56rem;
  --font-size-xl: 1.63rem;
  --font-size-2xl: 1.88rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 3.63rem;

  /* Colors */
  --color-white: #fff;
  --color-darkorchid: #7c3cce;
  --color-black: #000;
  --color-gainsboro: #e2e6ed;
  --color-gray: #909090;
  --color-royalblue: #1877f2;
  --color-dodgerblue: #0a66c2;
  --color-darkgray: #98a0a8;

  /* Gaps */
  --gap-md: 1.5rem;

  /* Paddings */
  --padding-md: 0.63rem;

  /* border radiuses */
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 400px;
}
