.pro-16-child {
  position: absolute;
  top: 0;
  left: 51.45rem;
  width: 56.55rem;
  height: 69.81rem;
}
.make-your-work,
.your-digital-business {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 46.06rem;
}
.make-your-work {
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  line-height: 155%;
  font-weight: 500;
  width: 29.44rem;
}
.pro-16-inner,
.your-digital-business-is-in-go-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.your-digital-business-is-in-go-parent {
  gap: var(--gap-md);
}
.pro-16-inner {
  position: absolute;
  top: 35.12rem;
  left: 63.81rem;
  width: 41.19rem;
  height: 17.81rem;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
.eb-2-icon {
  position: absolute;
  top: 18.43rem;
  left: 75.72rem;
  width: 11.74rem;
  height: 12.43rem;
  object-fit: cover;
}
.copright-2023-eccount {
  position: absolute;
  top: 67.06rem;
  left: 4.25rem;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-darkgray);
  display: inline-block;
  width: 17.44rem;
  height: 1.19rem;
}
.google,
.group-icon {
  position: absolute;
  overflow: hidden;
}
.group-icon {
  height: 55.58%;
  width: 54.85%;
  top: 14.96%;
  right: 30.38%;
  bottom: 29.46%;
  left: 14.77%;
  max-width: 100%;
  max-height: 100%;
}
.google {
  text-decoration: none;
  top: 54.87rem;
  left: 11.16rem;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.31rem;
  mix-blend-mode: normal;
}
.vector-icon {
  height: 47.03%;
  width: 47.25%;
  top: 19.24%;
  right: 33.42%;
  bottom: 33.73%;
  left: 19.33%;
  max-width: 100%;
  max-height: 100%;
}
.linkedin,
.vector-icon,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.linkedin {
  text-decoration: none;
  top: 54.87rem;
  left: 17.98rem;
  border-radius: var(--br-lg);
  background-color: var(--color-dodgerblue);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 4.44rem;
  height: 4.31rem;
}
.vector-icon1 {
  height: 55.58%;
  width: 47.36%;
  top: 12.83%;
  right: 33.26%;
  bottom: 31.59%;
  left: 19.38%;
  max-width: 100%;
  max-height: 100%;
}
.apple {
  text-decoration: none;
  top: 54.87rem;
  left: 24.73rem;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.31rem;
}
.apple,
.facebook,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.vector-icon2 {
  height: 68.81%;
  width: 36.83%;
  top: 16.7%;
  right: 37.77%;
  bottom: 14.49%;
  left: 25.4%;
  max-width: 100%;
  max-height: 100%;
}
.facebook {
  text-decoration: none;
  top: 54.87rem;
  left: 31.48rem;
  border-radius: var(--br-lg);
  background-color: var(--color-royalblue);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.31rem;
}
.eb-1-icon {
  position: absolute;
  top: 7rem;
  left: 9.83rem;
  width: 9.1rem;
  height: 10.37rem;
  object-fit: cover;
}
.eccount-book {
  position: relative;
  background: linear-gradient(91.95deg, #2fa6d4 16.35%, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eccount-book-wrapper {
  position: absolute;
  top: 13.74rem;
  left: 18.09rem;
  width: 14.94rem;
  height: 3.63rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
.welcome-back,
.welcome-back-please {
  position: absolute;
  letter-spacing: -0.02em;
  display: inline-block;
}
.welcome-back {
  top: 0;
  left: 0;
  font-weight: 600;
  width: 28.78rem;
  height: 3.56rem;
}
.welcome-back-please {
  top: 4.91rem;
  left: 0.33rem;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  width: 40.45rem;
  height: 1.9rem;
}
.headline {
  position: absolute;
  top: 20.41rem;
  left: 7.83rem;
  width: 40.79rem;
  height: 6.82rem;
  font-size: var(--font-size-3xl);
}
.label {
  top: 30.17rem;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  font-weight: 500;
}
.field,
.label,
.label1 {
  position: absolute;
  left: 7.83rem;
}
.field {
  background-color: transparent;
  top: 32.11rem;
}
.label1 {
  top: 36.99rem;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  font-weight: 500;
}
.field-antinputpassword {
  background-color: transparent;
  position: absolute;
  top: 38.92rem;
  left: 7.83rem;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.remember-for-30 {
  margin: 0;
  position: absolute;
  top: 0.19rem;
  left: 2.25rem;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.06rem;
  height: 1.5rem;
  overflow: hidden;
}
.forgot-password {
  text-decoration: none;
  position: absolute;
  top: 0.19rem;
  left: 17.25rem;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-darkorchid);
  text-align: right;
}
.actions {
  top: 43.56rem;
  left: 7.81rem;
  width: 26.75rem;
  height: 1.5rem;
  overflow: hidden;
}
.actions,
.button,
.login {
  position: absolute;
}
.login {
  top: 0.88rem;
  left: 13.85rem;
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkorchid);
  top: 46.51rem;
  left: 7.83rem;
  border-radius: var(--br-md);
  width: 33.36rem;
  height: 3.32rem;
  overflow: hidden;
}
.pro-16 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 69.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .pro-16-child {
    display: flex;
    width: 55rem;
    height: 78.13rem;
  }
  .eb-1-icon,
  .eb-2-icon {
    width: 8.75rem;
    height: 8.75rem;
  }
}
@media screen and (max-width: 960px) {
  .pro-16-child {
    width: 50rem;
    height: 62.5rem;
  }
  .eb-1-icon,
  .eb-2-icon {
    width: 8.13rem;
    height: 8.13rem;
  }
}
@media screen and (max-width: 420px) {
  .pro-16-child {
    display: none;
  }
  .eb-2-icon {
    width: 6.25rem;
    height: 6.25rem;
  }
  .google {
    width: 0.19rem;
  }
  .eb-1-icon {
    width: 6.25rem;
    height: 6.25rem;
  }
}
